.bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottom-nav .btn{
    padding: .8rem;
    display: flex;
    width: 100%;
    flex-direction: column;    text-align: center;
    color: royalblue;
    background: white;
}

.bottom-nav .btn i{
    margin: auto;
}

.bottom-nav .btn p{
    font-size: .85rem;
    transform: translateY(.3rem);
}
