.user-side-nav{
    padding: 1rem;
    width: 100%;
}

.user-side-nav .avater .img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: 5px solid royalblue;
}

.user-side-nav .avater{
    display: flex;
    justify-content: center;
}

.user-side-nav .data p{
    padding: .5rem .8rem;
    color: royalblue;
    background: whitesmoke;
    margin: .5rem 0;
    border-radius: 3rem;
}

.user-side-nav .data i{
    margin-right: .5rem;
}

.user-side-nav .data{
    margin: 1rem 0;
}

.user-side-nav .actions i{
    margin-right: .5rem;
}

.user-side-nav .actions button{
    margin-bottom: .5rem;
    width: 100%;
    padding: .8rem;
    color: white;
    border-radius: .5rem;
    background: linear-gradient(to right, royalblue, slateblue);
}

.user-side-nav .actions button:hover{
    background: royalblue radial-gradient(circle, transparent 1%, rgba(65, 105, 225, 0.2) .1%) center/30000%;
}

.user-side-nav .actions button:active{
    background-color: rgba(65, 105, 225, 0.2);
    background-size: 100%;
    transition: background 0s;
}

.user-side-nav .nav-top{
    padding: .5rem 0;
}

.user-side-nav .actions{
    margin-top: 2rem;
}

.user-side-nav .nav-top button{
    background: none;
    font-size: 1.2rem;
    color: royalblue;
}